{% load widget_tweaks %}

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="modal-header">
        <h3 class="modal-title">Material Updating </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
        </div>

        <div class="form-group">
            <div class="row">
                <div class="form-group col-md-6">

                    {{form.name.label}} :
                    <div class="input-group"> {{ form.name }}</div>
                    {% if form.name.errors %}
                    <span role="alert" class="alert alert-danger help-block"
                        ><strong>Error!</strong>{{ form.name.errors }}</span>
                    {% endif %}
                </div>
                <div class="form-group col-md-6">

                    {{form.status.label}} :
                    <div class="input-group"> {{ form.status }}</div>

                    {% if form.status.errors %}
                    <span role="alert" class="alert alert-danger"
                        ><strong>Error!</strong>{{ form.status.errors }}</span>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    {{form.description.label}} :
                    <div class="input-group"> {{ form.description }}</div>

                    {% if form.description.errors %}
                    <span role="alert" class="alert alert-danger"
                        ><strong>Error!</strong>{{ form.description.errors }}</span>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group col-md-6 py-0">
                    {{form.unit_price.label}} :
                    <div class="input-group"><span class="input-group-text">Rs.</span>{{ form.unit_price }}</div>

                    {% if form.unit_price.errors %}
                    <span role="alert" class="alert alert-danger"
                        ><strong>Error!</strong>{{ form.unit_price.errors }}</span>
                    {% endif %}
                </div>
                <div class="form-group col-md-6 py-0">

                    {{form.quatity.label}} :
                    <div class="input-group"> {{ form.quatity }}</div>

                    {% if form.quatity.errors %}
                    <span role="alert" class="alert alert-danger"
                        ><strong>Error!</strong>{{ form.quatity.errors }}</span>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group col-md-6 py-0">
                    {{form.category_id.label}} :
                    <div class="input-group">{{ form.category_id }}</div>

                    {% if form.category_id.errors %}
                    <span role="alert" class="alert alert-danger"
                        ><strong>Error!</strong>{{ form.category_id.errors }}</span>
                    {% endif %}
                </div>
                <div class="form-group col-md-6 py-0">
                    {{form.shell_id.label}} :
                    <div class="input-group">{{ form.shell_id }}</div>

                    {% if form.shell_id.errors %}
                    <span role="alert" class="alert alert-danger"
                        ><strong>Error!</strong>{{ form.shell_id.errors }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    {{form.supplier_id.label}} :
                    <div class="input-group">{{ form.supplier_id }}</div>

                    {% if form.supplier_id.errors %}
                    <span role="alert" class="alert alert-danger"
                        ><strong>Error!</strong>{{ form.supplier_id.errors }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" url="{% url 'update_material' form.id.value %}">Update Material</button>
    </div>
</form>