{% extends "layouts/base.html" %}

{% block title %} User Registration Form {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <!-- Page content -->
            <section class="testimonial py-5" id="testimonial">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-4 py-5 bg-primary text-white text-center ">
                            <div class=" ">
                                <div class="card-body">
                                    <div class="auth-bg">
                                        <span class="r"></span>
                                        <span class="r s"></span>
                                        <span class="r s"></span>
                                        <span class="r"></span>
                                    </div>
                                    <div class="mb-4">
                                        <i class="feather icon-user-plus"></i>
                                    </div>
                                    <img src="/media/reg-img.png" style="width:30%">
                                    <h3 class="py-3 ">Registration From</h3>
                                    <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto patrioque an per, lucilius pertinacia eu vel.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 py-3 border">
                            <h4 class="pb-1">Please fill with your details</h4>
                            <hr/>
                            <h5 class=" text-muted">Personal Details</h5>
                            <span class=" text-muted">
                                {% if msg %}
                                    {{ msg | safe }}
                                {% endif %} 
                            </span>
                            <form role="form" method="post" action="">
                                {% csrf_token %}        
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.username.label}} :
                                            <div class="input-group">
                                                {{ form.username }}
                                            </div>
                                            <span class="text-error">{{ form.username.errors }}</span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.email.label}} : 
                                            <div class="input-group ">
                                               <span class="input-group-text" id="">@</span> {{ form.email }}
                                            </div>
                                            <span class="text-error ">{{ form.email.errors }}</span> 
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.firstname.label}} : 
                                            <div class="input-group">
                                                {{ form.firstname }}
                                            </div>
                                            <span class="text-error">{{ form.firstname.errors }}</span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.lastname.label}} :
                                            <div class="input-group ">
                                                {{ form.lastname }}
                                            </div>
                                            <span class="text-error">{{ form.lastname.errors }}</span> 
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.password1.label}} :
                                            <div class="input-group">
                                                {{ form.password1 }}
                                            </div>
                                            <span class="text-error">{{ form.password1.errors }}</span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.password2.label}} :
                                            <div class="input-group">
                                                {{ form.password2 }}
                                            </div>
                                            <span class="text-error">{{ form.password2.errors }}</span>    
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <h5 class="pb-1 text-muted"> Contact details</h5>
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.address1.label}} :
                                            <div class="input-group">
                                                {{ form.address1 }}
                                            </div>
                                            <span class="text-error">{{ form.address1.errors }}</span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.address2.label}} :
                                            <div class="input-group ">
                                                {{ form.address2 }}
                                            </div>
                                            <span class="text-error">{{ form.address2.errors }}</span> 
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.city.label}} :
                                            <div class="input-group">
                                                {{ form.city }}
                                            </div>
                                            <span class="text-error">{{ form.city.errors }}</span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.mobile_number.label}} :
                                            <div class="input-group ">
                                                {{ form.mobile_number }}
                                            </div>
                                            <span class="text-error">{{ form.mobile_number.errors }}</span>    
                                        </div>
                                    </div>
                                    <hr/>
                                    <h5 class="pb-1 text-muted"> Select your Designation</h5>
                                    <div class="form-row">
                                        {{form.role.label}} :
                                            <div class="input-group ">
                                                {{ form.role }}
                                            </div>
                                            <span class="text-error">{{ form.role.errors }}</span>    
                                       
                                    </div>
                                </div>
                                
                                <p class="mb-0 text-muted">Already have an account? <a href="{% url 'login' %}" >Login</a></p>

                                <button type="submit" name="register" class="btn-lg float-right btn-outline-primary shadow-2 ">Register</button>
                                 
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
