{% extends "layouts/base.html" %}

{% block title %} User Registration Form {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <!-- Page content -->
            <section class="testimonial py-5" id="testimonial">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-4 py-5 bg-primary text-white text-center ">
                            <h3 class="py-3 ">Registration From</h3>
                            <img id= 'img-profile-reg' src="/static/assets/images/user/default.png" width =250px alt="" class="d-block rounded-circle mx-auto img-responsive">
                            <h3 class="text-center text-light text-bold py-2">Profile Image</h3>
                            <img class="img-responsive d-block mx-auto float-bottom py-5" width='200px' src='/static/assets/images/password-reset.png'>
                        </div>

                        <div class="col-md-8 py-3 border">
                            <h4 class="pb-1">Please fill with your details</h4>
                            <hr/>
                            <h5 class=" text-muted">Personal Details</h5>

                            {% comment %} message showing {% endcomment %}
                            {% if messages %}
                                {% for msg in messages %}
                                    {% if messages.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                        <div role="alert" class="alert alert-info"><strong>Info! </strong>{{ msg  }}</div>
                                    {% endif %}
                                    {% if messages.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                        <div role="alert" class="alert alert-success"><strong>Success! </strong>{{ msg  }}</div>
                                    {% endif %}
                                    {% if messages.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                        <div role="alert" class="alert alert-error"><strong>Error! </strong>{{ msg  }}</div>
                                    {% endif %}
                                    {% if messages.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                        <div role="alert" class="alert alert-warning"><strong>Warning! </strong>{{ msg  }}</div>
                                    {% endif %}
                                {% endfor %} 
                            {% endif %}


                            <form role="form" method="post" action="" enctype="multipart/form-data">
                                {% csrf_token %}        
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.user_name.label}} :
                                            <div class="input-group">
                                                {{ form.user_name }}
                                            </div>
                                            {% if form.user_name.errors %}
                                                <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.user_name.errors }}</div>
                                            {% endif %}
                                            {{ form.user_name.messages }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.email.label}} : 
                                            <div class="input-group ">
                                               <span class="input-group-text" id="">@</span> {{ form.email }}
                                            </div>
                                            {% if form.email.errors %}
                                                <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.email.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.first_name.label}} : 
                                            <div class="input-group">
                                                {{ form.first_name }}
                                            </div>
                                            {% if form.first_name.errors %}
                                                <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.first_name.errors }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.last_name.label}} :
                                            <div class="input-group ">
                                                {{ form.last_name }}
                                            </div>
                                            {% if form.last_name.errors %}
                                                <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.last_name.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.gender.label}} : 
                                            <div class="input-group">
                                                {{ form.gender }}
                                            </div>
                                            {% if form.gender.errors %}
                                                <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.gender.errors }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.profile_img.label}} : 
                                            <div class="input-group">
                                                {{ form.profile_img }}
                                            </div>
                                            {% if form.profile_img.errors %}
                                                <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.profile_img.errors }}</div>
                                            {% endif %}
                                        </div>
                                        <script>
                                            var id_profile_img = document.getElementById('id_profile_img');
                                            id_profile_img.onchange = function(event){
                                              var img = document.getElementById('img-profile-reg');
                                              img.src = URL.createObjectURL(event.target.files[0]);
                                            };
                                            
                                        </script>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.password1.label}} :
                                            <div class="input-group">
                                                {{ form.password1 }}
                                            </div>
                                            {% if form.password1.errors %}
                                                <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.password1.errors }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.password2.label}} :
                                            <div class="input-group">
                                                {{ form.password2 }}
                                            </div>
                                            {% if form.password2.errors %}
                                                <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.password2.errors }}</div>
                                            {% endif %}  
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <h5 class="pb-1 text-muted"> Contact details</h5>
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.Address_1.label}} :
                                            <div class="input-group">
                                                {{ form.Address_1 }}
                                            </div>
                                            {% if form.Address_1.errors %}
                                                <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.Address_1.errors }}</div>
                                            {% endif %}  
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.Address_2.label}} :
                                            <div class="input-group ">
                                                {{ form.Address_2 }}
                                            </div>
                                            {% if form.Address_2.errors %}
                                                <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.Address_2.errors }}</div>
                                            {% endif %} 
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.city.label}} :
                                            <div class="input-group">
                                                {{ form.city }}
                                            </div>
                                            {% if form.city.errors %}
                                                <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.city.errors }}</div>
                                            {% endif %} 
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.mobile_number.label}} :
                                            <div class="input-group ">
                                                {{ form.mobile_number }}
                                            </div>
                                            {% if form.mobile_number.errors %}
                                                <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.mobile_number.errors }}</div>
                                            {% endif %}  
                                        </div>
                                    </div>
                                    <hr/>
                                        
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <h5 class="pb-1 text-muted"> Designation</h5>   
                                            {{form.role.label}} :
                                            <div class="input-group ">
                                                {{ form.role }}
                                            </div>
                                            {% if form.role.errors %}
                                                <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.role.errors }}</div>
                                            {% endif %}     
                                        </div>
                                        <div class="form-group col-md-6">
                                            <h5 class="pb-1 text-muted"> Permissions</h5>   
                                            <div class="form-row pb-2">
                                                <div class="col-md-5">
                                                    <div class="form-check ">
                                                        {{ form.is_staff }}
                                                        <label class="form-check-label" for="id_is_staff">{{form.is_staff.label}}</label>
                                                        
                                                    </div>
                                                    {% if form.is_staff.errors %}
                                                        <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.is_staff.errors }}</div>
                                                    {% endif %}  
                                                </div>
                                                <div class=" col-md-5">
                                                    <div class="form-check ">
                                                        {{ form.is_active }}
                                                        <label class="form-check-label" for="id_is_active">{{form.is_active.label}}</label>
                                                        
                                                    </div>
                                                    {% if form.is_active.errors %}
                                                        <div role="alert" class="alert alert-danger"><strong>Error!</strong>{{ form.is_active.errors }}</div>
                                                    {% endif %}  
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" name="register" class=" btn-lg float-right btn-primary">Register</button> 
                                {% comment %} url="{% url 'create_customer'  %}" {% endcomment %}
                            </form>
                            
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
