{% extends "layouts/base.html" %}

{% block title %} User Registration Form {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <!-- Page content -->
            <section class="testimonial py-5" id="testimonial">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-4 py-5 bg-primary text-white text-center ">
                            <h3 class="py-3 ">Registration From</h3>
                            <img id= 'img-profile-reg' src="/static/assets/images/user/default.png" width =250px alt="" class="d-block rounded-circle mx-auto img-responsive">
                            <h3 class="text-center text-light text-bold py-2">Profile Image</h3>
                            <img class="img-responsive d-block mx-auto float-bottom py-5" width='200px' src='/static/assets/images/password-reset.png'>
                        </div>
                        <div class="col-md-8 py-3 border">
                            <h4 class="pb-1">Please fill with your details</h4>
                            <hr/>
                            <h5 class=" text-muted">Personal Details</h5>
                            <span class=" text-muted">
                                {% if msg %}
                                    {{ msg | safe }}
                                {% endif %} 
                            </span>
                            <form role="form" method="post" action="">
                                {% csrf_token %}        
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.user_name.label}} :
                                            <div class="input-group">
                                                {{ form.user_name }}
                                            </div>
                                            <span class="text-error">{{ form.user_name.errors }}</span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.email.label}} : 
                                            <div class="input-group ">
                                               <span class="input-group-text" id="">@</span> {{ form.email }}
                                            </div>
                                            <span class="text-error ">{{ form.email.errors }}</span> 
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.first_name.label}} : 
                                            <div class="input-group">
                                                {{ form.first_name }}
                                            </div>
                                            <span class="text-error">{{ form.first_name.errors }}</span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.last_name.label}} :
                                            <div class="input-group ">
                                                {{ form.last_name }}
                                            </div>
                                            <span class="text-error">{{ form.last_name.errors }}</span> 
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.gender.label}} : 
                                            <div class="input-group">
                                                {{ form.gender }}
                                            </div>
                                            <span class="text-error">{{ form.gender.errors }}</span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.profile_img.label}} : 
                                            <div class="input-group">
                                                {{ form.profile_img }}
                                            </div>
                                            <span class="text-error">{{ form.profile_img.errors }}</span>
                                        </div>
                                        <script>
                                            var id_profile_img = document.getElementById('id_profile_img');
                                            id_profile_img.onchange = function(event){
                                              var img = document.getElementById('img-profile-reg');
                                              img.src = URL.createObjectURL(event.target.files[0]);
                                            };
                                            
                                        </script>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.password1.label}} :
                                            <div class="input-group">
                                                {{ form.password1 }}
                                            </div>
                                            <span class="text-error">{{ form.password1.errors }}</span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.password2.label}} :
                                            <div class="input-group">
                                                {{ form.password2 }}
                                            </div>
                                            <span class="text-error">{{ form.password2.errors }}</span>    
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <h5 class="pb-1 text-muted"> Contact details</h5>
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.Address_1.label}} :
                                            <div class="input-group">
                                                {{ form.Address_1 }}
                                            </div>
                                            <span class="text-error">{{ form.Address_1.errors }}</span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.Address_2.label}} :
                                            <div class="input-group ">
                                                {{ form.Address_2 }}
                                            </div>
                                            <span class="text-error">{{ form.Address_2.errors }}</span> 
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{form.city.label}} :
                                            <div class="input-group">
                                                {{ form.city }}
                                            </div>
                                            <span class="text-error">{{ form.city.errors }}</span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{form.mobile_number.label}} :
                                            <div class="input-group ">
                                                {{ form.mobile_number }}
                                            </div>
                                            <span class="text-error">{{ form.mobile_number.errors }}</span>    
                                        </div>
                                    </div>
                                    <hr/>
                                        
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <h5 class="pb-1 text-muted"> Designation</h5>   
                                            {{form.role.label}} :
                                            <div class="input-group ">
                                                {{ form.role }}
                                            </div>
                                            <span class="text-error">{{ form.role.errors }}</span>    
                                        </div>
                                        <div class="form-group col-md-6">
                                            <h5 class="pb-1 text-muted"> Permissions</h5>   
                                            <div class="form-row pb-2">
                                                <div class="col-md-5">
                                                    <div class="input-group ">
                                                        {{form.is_staff.label}} : {{ form.is_staff }}
                                                    </div>
                                                    <span class="text-error">{{ form.is_staff.errors }}</span>
                                                </div>
                                                <div class=" col-md-5">
                                                    <div class="input-group ">
                                                        {{form.is_active.label}} : {{ form.is_active }}
                                                    </div>
                                                    <span class="text-error">{{ form.is_active.errors }}</span>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <p class="mb-0 text-muted">Already have an account? <a href="{% url 'login' %}" >Login</a></p>

                                <button type="submit" name="register" class=" btn-lg float-right btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
