<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            Sales Order
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.5, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- fontawesome icon -->
        <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
        <!-- vendor css -->
        <link rel="stylesheet" href="/static/assets/css/style-doc.css">
        <!-- Specific CSS goes HERE -->

    </head>

    <body>
        <div class="my-0 {% if create == 1%}page{% endif %}" size="{% if create == 1%}A4{% endif %}">
            <div class="p-5">
            {% if create == 0%}
                <form class="" method="POST" action="" hx-post="{% url 'purchase-order-doc'%}">
                    {% csrf_token %}
                    {{form_set.management_form}}
            {% endif %}
                    <section class="top-content justify-content-between">
                        <div class="row">
                            <div class="col-6 text-dark">
                                <div class="font-weight-bold purchase-order">QUOTATION</div>
                                <div class="po-no">

                                {% if create == 0 %}
                                    #[{{quote_id}}]
                                    <div class="input-group">
                                        <input type="hidden" value="{{quote_id}}" name={{form.id.name}} class="form-control" required="" readonly='True' id="{{form.id.id_for_label  }}">
                                    </div>
                                {% else %}
                                    #[{{Quote.id}}]
                                {% endif %}</div>
                                <div class="card-title mt-2 font-weight-bold">
                                {% if create == 0 %}
                                    Date : {{date}}
                                {% else %}
                                    Issued Date : {{Quote.issued_date}}
                                {% endif %}
                                </div>
                            </div>
                            <div class="col-3 p-0 text-right ">
                                <div class="com-detial-container mt-0 text-dark">
                                    <div class="text">369, Thalangama south,</div>
                                    <div class="text">batapotha battaramulla,</div>
                                    <div class="text"><span class="pcoded-micon"><i class="feather icon-phone"></i></span> 011-2077112/ 071-1795055</div>
                                    <div class="text"><span class="pcoded-micon"><i class="feather icon-mail"></i></span> thilinafashion@gmail.com</div>    
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col ">
                                        <div class="logo">
                                            <img src="/static/assets/images/icon-tf.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col">
                                        <div class="text-center mt-1" style="font-size:12px; font-weight:900;">THILINA FASHION</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> 
                    <hr class="m-0">
                    <section class="store-content mt-1">
                        <div class="col-12">
                            <div class="row bb pt-2">
                                <div class="col-6">
                                    {% if create == 0 %}
                                        {{form.customer_id.label}}
                                        {{form.customer_id}}
                                    {% endif %}
                                    <div class="card-text pl-2 head-detail" style="font-weight:900;">CUSTOMER</div>
                                    {% if create == 1 %}
                                        <div class=" text-dark pl-2 mt-2" style="font-weight:1000;"><b>{{Quote.customer_id.first_name}} {{Quote.customer_id.last_name}}</b></div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">{{Quote.customer_id.company}}</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">{{Quote.customer_id.billing_Address_1}},</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">{{Quote.customer_id.billing_Address_2}},</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">{{Quote.customer_id.billing_city}}</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">Mobile : {{Quote.customer_id.mobile_number}}</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">E mail : {{Quote.customer_id.email}}</div>
                                    {% else %}
                                        <div id="customer_name" class="card-text pl-2 mt-2" style="font-weight:900;">[Customer name]</div>
                                        <div id="company_name" class="card-text pl-2 mt-0" style="font-weight:900;">[Company Name]</div>
                                        <div id="address_1" class="card-text pl-2 mt-0" style="font-weight:900;">[Address 1]</div>
                                        <div id="address_2" class="card-text pl-2 mt-0" style="font-weight:900;">[Address 2]</div>
                                        <div id="city" class="card-text pl-2 mt-0" style="font-weight:900;">[City]</div>
                                        <div id="phone" class="card-text pl-2 mt-0" style="font-weight:900;">[Phone]</div>
                                        <div id="email" class="card-text pl-2 mt-0" style="font-weight:900;">[Fax]</div>
                                    {% endif %}

                                </div>
                                <div class="col-6">
                                    {% comment %} <div class="card-text pl-2 head-detail" style="font-weight:900;">SHIP TO</div>
                                    {% if create == 1 %}
                                        <div class="card-text pl-2 mt-2" style="font-weight:900;">{{user.first_name}} {{user.last_name}}</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">[Company Name]</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">[Address 1]</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">[Address 2]</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">[City]</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">[Phone]</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">[Fax]</div>
                                    {% else %}
                                        <div class="card-text pl-2 mt-2" style="font-weight:900;">{{user.first_name}} {{user.last_name}}</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">[Company Name]</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">[Address 1]</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">[Address 2]</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">[City]</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">[Phone]</div>
                                        <div class="card-text pl-2 mt-0" style="font-weight:900;">[Fax]</div>
                                    {% endif %} {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product-area mt-3">
                        <table class="table table-bordered text-dark table-hover">
                            <thead class="head-detail border">
                                <tr>
                                    <th style="width: 10%">Item#</th>
                                    {% if create == 0%}
                                        <th style="width: 45%">Product</th>
                                        <th style="width: 15%">Quantity</th>
                                        <th style="width: 15%">Unit Price</th>
                                    {% else %}
                                        <th style="width: 45%">Description</th>
                                        <th style="width: 15%">Quantity</th>
                                        <th style="width: 15%">Unit Price</th>
                                        <th style="width: 15%" class="text-right">Total</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody class="table border">
                                {% if create == 0%}
                                    {% for form_m in form_set%}
                                        <tr>
                                            
                                            <td>{{forloop.counter}}</td>
                                            <td>{{form_m.product_id}}</td>
                                            <td>{{form_m.quantity}}</td>
                                            <td>{{form_m.unit_price}}</td>
                                        </tr>
                                    {% endfor %} 

                                {% else %}
                                    {{quote}}
                                    {%for product in Quote.product_ids.all%}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{product.product_id.name}}</td>
                                            <td>{{product.quantity|floatformat:1}}</td>
                                            <td>{{product.unit_price|floatformat:2}}</td>
                                            <td class="text-right">{{product.total_price|floatformat:2}}</td>
                                        </tr>
                                    {% endfor %}
                                    {%for i in other_count %}
                                        <tr>
                                            <td>{{i}}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% endfor %} 
                                {% endif %}
                            </tbody>
                        </table>
                    </section> 

                    <section class="balance-info mt-2">
                        <div class="row text-dark">
                            <div class="col-7 border">
                                <div class="head-detail text-center m-1" style="font-weight:900; width:100%">Special Notes and Instrcutions</div>
                                {% if create == 0%}
                                    <p>{{form.description}} </p>
                                {% else %}
                                    <p>{{Quote.description}} </p>
                                {% endif %}
                            </div>
                            <div class="col-5">
                                <table class="table table-bordered table-hover m-0 text-dark">
                                    {% if create == 1%}
                                        <tr>
                                            <td class="font-weight-bold" style="width: 48%">Sub Total (Rs.):</td>
                                            <td class="text-right">{{Quote.sub_total_price|floatformat:2}}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td class="font-weight-bold">Discount (%) :</td>
                                        {% if create == 0%}
                                            <td>{{form.discount_persentage}}</td>
                                        {% else %}
                                            <td class="text-right">{{Quote.discount_persentage|floatformat:2}}</td>
                                        {% endif %}
                                    </tr>
                                    {% comment %} <tr>
                                        <td class="font-weight-bold">Tax (%) : </td>
                                        {% if create == 0%}
                                            <td>{{form.tax_rate}}</td>
                                        {% else %}
                                            <td class="text-right">{{Order.tax_rate|floatformat:2}}</td>
                                        {% endif %}
                                    </tr> {% endcomment %}
                                    {% if create == 1%}
                                        <tfoot>
                                            <tr>
                                                <td class="font-weight-bold">Total (Rs.) : </td>
                                                <td class="text-right">{{Quote.total_price|floatformat:2}}</td>
                                            </tr>
                                        </tfoot>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </section> 
                    {% if create == 0%}
                        <button type="submit" class="btn btn-md bg-success float-right text-light"  title="Create new Purchase Order" name="button" >
                            <span class="material-icons">Issue</span>
                        </button>

                        <script src="/static/assets/plugins/jquery/js/jquery.min.js"></script>
                        <script type="text/javascript">
                            window.CSRF_TOKEN = "{{ csrf_token }}"; 
                            $('#id_customer_id').on('change', function (event) {
                                $.ajax({                                      
                                        url: '/detail_customer_add/' + $('#id_customer_id').val(),              
                                        type: "post",
                                        data: {csrfmiddlewaretoken: window.CSRF_TOKEN},
                                        success: function (data) {
                                            $('#customer_name').html("<b>"+data[0].fields.first_name+" "+data[0].fields.last_name+"</b>");
                                            $("#company_name").html(data[0].fields.company);
                                            $("#address_1").html(data[0].fields.billing_Address_1);
                                            $("#address_2").html(data[0].fields.billing_Address_2);
                                            $("#city").html(data[0].fields.billing_city);
                                            $("#phone").html("Mobile : " + data[0].fields.mobile_number);
                                            $("#email").html("E-Mail : " + data[0].fields.email);
                                        }
                                    })
                            });



                        </script>
                    {% endif %}


                    <footer>
                        <p class="m-3 text-center">
                            -- Automatically generated by IMS -- <a href="#!"></a>
                        </p>
                    </footer> 
            {% if create == 0%}
                </form>
            {% endif %}
            </div>
        </div>
    </body>
</html>
