{% extends "layouts/base.html" %} {% block title %} Settings {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="pcoded-content">
  <div class="pcoded-inner-content">

    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Settings</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/"><i class="feather icon-settings"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:">Settings</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->

    <div class="main-body">
      <!-- Page content Start -->
      <div class=" container light-style flex-grow-1 container-p-y animated fadeInUp ">
        <div class="card overflow-hidden">
          <div class="row no-gutters row-bordered row-border-light">
            <!-- Right column start-->
            <div class="col-md-3 pt-0">

              <!-- Current User Details  -->
              <div class="card-body media align-items-center">
                  <img id= 'img-profile' src="{{ user.profile_img.url }}" width ="200px" alt="" class="d-block rounded-circle mx-auto img-responsive">
              </div>

              <div class="text-center text-capitalize">{{ user.role }}</div>
              <h3 class="text-center text-primary ">{{ user.first_name }} {{ user.last_name }}</h3>

              <!-- Tabs -->
              <div class="list-group list-group-flush account-settings-links">
                  <a class="list-group-item list-group-item-action {% if 'account-general' in select %} active {% endif %} " data-toggle="list" href="#account-general">About</a>
                  <a class="list-group-item list-group-item-action {% if 'account-update' in select %} active {% endif %}" data-toggle="list" href="#account-update">Update Info</a>
                  <a class="list-group-item list-group-item-action {% if 'account-change-password' in select %} active {% endif %}" data-toggle="list" href="#account-change-password">Change password</a>
                  {% if user.is_superuser %}
                    <a class="list-group-item list-group-item-action {% if 'account-permissions' in select %} active {% endif %}" data-toggle="list" href="#account-permissions">User Permissions</a>
                  {% endif %}
                </div>
            </div>
            <!-- Right column end-->

            <!-- Left column [tab contents] Start-->
            <div class="col-md-9">
              <div class="tab-content bg-light">

                <!-- content for general info tab -->
                <div class="tab-pane fade {% if 'account-general' in select %} active show{% endif %} " id="account-general"> 
                  {% include 'pages/settings/general-info.html' %}
                </div>

                <!-- content for update tab -->
                <div class="tab-pane fade {% if 'account-update' in select %} active show{% endif %}" id="account-update">
                  {% include 'pages/settings/update.html' %}
                </div>

                <!-- content for change password tab -->
                <div class="tab-pane fade {% if 'account-change-password' in select %} active show{% endif %}" id="account-change-password">
                  {% include 'pages/settings/change-password.html' %}
                </div>

                <!-- content for permissions tab-->
                <div class="tab-pane fade {% if 'account-permissions' in select %} active show{% endif %}" id="account-permissions">
                  {% include 'pages/settings/permissions.html' %}
                </div>
              </div>
            </div>
            <!-- Left column [tab contents] end-->
          </div>
        </div>
      </div>
      <!-- Page content end -->
    </div>
  </div>
</div>
                  







{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
