<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            Purchase Order
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- fontawesome icon -->
        <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
        <!-- vendor css -->
        <link rel="stylesheet" href="/static/assets/css/style-doc.css">
        <!-- Specific CSS goes HERE -->

    </head>

    <body>
        <div class="my-0 page" size="A4">
            <div class="p-5">
                <section class="top-content justify-content-between">
                    <div class="row">
                        <div class="col-6">
                            <div class="font-weight-bold purchase-order">PURCHASE ORDER</div>
                            <div class="po-no">#PO-1223344455</div>
                        </div>
                        <div class="col-3 p-0 text-right">
                            <div class="com-detial-container mt-0">
                                <div class="text">369, Thalangama south,</div>
                                <div class="text">batapotha battaramulla,</div>
                                <div class="text"><span class="pcoded-micon"><i class="feather icon-phone"></i></span> 011-2077112/ 071-1795055</div>
                                <div class="text"><span class="pcoded-micon"><i class="feather icon-mail"></i></span> thilinafashion@gmail.com</div>    
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col ">
                                    <div class="logo">
                                        <img src="/static/assets/images/icon-tf.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col">
                                    <div class="text-center" style="font-size:15px; font-weight:900;">Thilina Fashion</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> 
                <hr>
                <section class="store-content mt-5">
                    <div class="col-10">
                        <div class="row bb pb-3">
                            <div class="col-7">
                                <p>Supplier</p>
                                <h2>Store Name</h2>
                                <p class="address">777 Brockton Avenue, <br> Abing</p>
                                <div class="txn mt-2">TXN : XXXXXX</div>
                            </div>
                            <div class="col-5">
                                <p>Customer</p>
                                <h2>customer Name</h2>
                                <p class="address">777 Brockton Avenue, <br> Abing</p>
                                <div class="txn mt-2">TXN : XXXXXX</div>
                            </div>
                        </div>
                        <hr>
                        <div class="row extra-info pt-3">
                            <div class="col-7">
                                <p>Payment Method:
                                <span>bKash</span></p>
                                <p>Order Number: <span>#868</span></p>
                            </div>
                            <div class="col-5">
                                <p>Deliver Date:<span>10-
                                04-20</span></p>
                            </div>
                        </div>
                    </div>
                </section> 
                <hr>
                <section class="product-area mt-4">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Item description</td>
                                <td>Price</td>
                                <td>Quantity</td>
                                <td>Total</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Chair</td>
                                <td>100.00</td>
                                <td>10</td>
                                <td>1000.00</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>Chair</td>
                                <td>100.00</td>
                                <td>10</td>
                                <td>1000.00</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>Chair</td>
                                <td>100.00</td>
                                <td>10</td>
                                <td>1000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </section> 

                <section class="balance-info">
                    <div class="row">
                        <div class="col-8">
                            <p class="m-0 font-weight-bold">Note</p>
                            <p> lorem ipsem dolos sit amet consecteter adiposicingale
                            elit, in dlectus, adipisci vero est dolore praesentium</p>
                        </div>
                        <div class="col-4">
                            <table class="table border-1 table-hover">
                                <tr>
                                    <td>Sub Total : </td>
                                    <td>800$</td>
                                </tr>
                                <tr>
                                    <td>Tax :</td>
                                    <td>15$</td>
                                </tr>
                                <tr>
                                    <td>Deliver : </td>
                                    <td>110$</td>
                                </tr>
                                <tfoot>
                                    <tr>
                                        <td>Total : </td>
                                        <td>200$</td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div>

                            </div>
                        </div>
                    </div>
                </section> 

                <footer>
                    <p class="m-0 text-center">
                        view this invoice online At - <a href="#!"></a>
                    </p>
                </footer> 
            </div>
        </div>
    </body>
</html>
