                  <h3 class="text-title"> Reset Your Password</h3>
                  <br>
                  {% comment %} message showing {% endcomment %}
                  {% if messages %}
                      {% for msg in messages %}
                          {% if messages.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                              <div role="alert" class="alert alert-info"><strong>Info! </strong>{{ msg  }}</div>
                          {% endif %}
                          {% if messages.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                              <div role="alert" class="alert alert-success"><strong>Success! </strong>{{ msg  }}</div>
                          {% endif %}
                          {% if messages.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                              <div role="alert" class="alert alert-error"><strong>Error! </strong>{{ msg  }}</div>
                          {% endif %}
                          {% if messages.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                              <div role="alert" class="alert alert-warning"><strong>Warning! </strong>{{ msg  }}</div>
                          {% endif %}
                      {% endfor %} 
                  {% endif %}
                  <div class="row">
                    <div class="form-group col-6">
                      <form role="form" method="post" action="/reset_pass/" enctype="multipart/form-data">
                        {% csrf_token %} 
                        <div class="form-row pb-3 ">
                          {{form_reset.old_password.label}} :
                          <div class="input-group">
                            {{ form_reset.old_password }}
                          </div>
                          {% if form_reset.old_password.errors %}
                            <div role="alert" class="alert alert-danger ">{{ form_reset.old_password.errors }}</div>
                          {% endif %}
                        </div>
                        <div class="form-row pb-3">
                          {{form_reset.password1.label}} :
                          <div class="input-group">
                            {{ form_reset.password1 }}
                          </div>
                          {% if form_reset.password1.errors %}  
                            <div role="alert" class="alert alert-danger">{{ form_reset.password1.errors }}</div>
                          {% endif %}
                        </div>
                        <div class="form-row">
                          {{form_reset.password2.label}} :
                          <div class="input-group">
                            {{ form_reset.password2 }}
                          </div>
                          {% if form_reset.password2.errors %} 
                            <div role="alert" class="alert alert-danger">{{ form_reset.password2.errors }}</div>
                          {% endif %}
                          {% if success %} 
                            <div role="alert" class="alert alert-success">Your password was successfully updated!</div>
                          {% endif %}
                        </div>
                        <br>
                        <button type="submit" class="btn-lg float-right btn-primary text-light">Confirm Reset</button>
                      </form>
                    </div>
                    <div class="col-md-6">
                      <img class="img-responsive d-block mx-auto opacity-50" width='300px' src='/static/assets/images/password-reset.png'>
                    </div>
                  </div>