<h3 class="pb-1">Update your User Account</h3>
<div class="card-body pb-2">
  <h4 class="card-title">Personal Info</h4>

  {% if update_success %}
  <div class="alert alert-success">
    <bold>Update Success</bold> You have successfully Updated your profile!
  </div>
  {% endif %}

  <form role="form" method="post" action="update" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <div class="form-row">
        <div class="form-group col-md-6">
          {{form.user_name.label}} :
          <div class="input-group">{{ form.user_name }}</div>
          {% if form.user_name.errors %}
          <span role="alert" class="alert alert-danger"
            ><strong>Error!</strong>{{ form.user_name.errors }}</span
          >
          {% endif %}
        </div>
        <div class="form-group col-md-6">
          {{form.email.label}} :
          <div class="input-group">
            <span class="input-group-text" id="">@</span> {{ form.email }}
          </div>
          {% if form.email.errors %}
          <span role="alert" class="alert alert-danger"
            ><strong>Error!</strong>{{ form.email.errors }}</span
          >
          {% endif %}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          {{form.first_name.label}} :
          <div class="input-group">{{ form.first_name }}</div>
          {% if form.first_name.errors %}
          <span role="alert" class="alert alert-danger"
            ><strong>Error!</strong>{{ form.first_name.errors }}</span
          >
          {% endif %}
        </div>
        <div class="form-group col-md-6">
          {{form.last_name.label}} :
          <div class="input-group">{{ form.last_name }}</div>
          {% if form.last_name.errors %}
          <span role="alert" class="alert alert-danger"
            ><strong>Error!</strong>{{ form.last_name.errors }}</span
          >
          {% endif %}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          {{form.gender.label}} :
          <div class="input-group">{{ form.gender }}</div>
          {% if form.gender.errors %}
          <span role="alert" class="alert alert-danger"
            ><strong>Error!</strong>{{ form.gender.errors }}</span
          >
          {% endif %}
        </div>
        <div class="form-group col-md-6">
          {{form.profile_img.label}} :
          <div class="input-group">{{ form.profile_img }}</div>
          {% if form.profile_img.errors %}
          <span role="alert" class="alert alert-danger"
            ><strong>Error!</strong>{{ form.profile_img.errors }}</span
          >
          {% endif %}
        </div>
        <script>
          var id_profile_img = document.getElementById("id_profile_img");
          id_profile_img.onchange = function (event) {
            var img = document.getElementById("img-profile");
            img.src = URL.createObjectURL(event.target.files[0]);
          };
        </script>
      </div>
    </div>
    <hr />
    <h4 class="pb-1 card-title">Contact Info</h4>
    <div class="form-group">
      <div class="form-row">
        <div class="form-group col-md-6">
          {{form.Address_1.label}} :
          <div class="input-group">{{ form.Address_1 }}</div>
          {% if form.Address_1.errors %}
          <span role="alert" class="alert alert-danger"
            ><strong>Error!</strong>{{ form.Address_1.errors }}</span
          >
          {% endif %}
        </div>
        <div class="form-group col-md-6">
          {{form.Address_2.label}} :
          <div class="input-group">{{ form.Address_2 }}</div>
          {% if form.Address_2.errors %}
          <span role="alert" class="alert alert-danger"
            ><strong>Error!</strong>{{ form.Address_2.errors }}</span
          >
          {% endif %}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          {{form.city.label}} :
          <div class="input-group">{{ form.city }}</div>
          {% if form.city.errors %}
          <span role="alert" class="alert alert-danger"
            ><strong>Error!</strong>{{ form.city.errors }}</span
          >
          {% endif %}
        </div>
        <div class="form-group col-md-6">
          {{form.mobile_number.label}} :
          <div class="input-group">{{ form.mobile_number }}</div>
          {% if form.mobile_number.errors %}
          <div role="alert" class="alert alert-danger">
            <strong>Error!</strong>{{ form.mobile_number.errors }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <a
      class="btn-lg float-right btn-primary text-light"
      data-toggle="modal"
      data-target="#model_info_update_pass"
      >Update</a
    >
    <br />
    <!-- User Profile Update Modal -->
    <div
      class="modal fade"
      id="model_info_update_pass"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              User Profile Update Confirmation
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            You want really need to update your Profile informations?
          </div>
          <div class="modal-footer">
            <button href="{% url 'update'%}" class="btn btn-primary">
              Confirm Update
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
