<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            Purchase Order
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.5, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- fontawesome icon -->
        <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
        <!-- vendor css -->
        <link rel="stylesheet" href="/static/assets/css/style-doc.css">
        <!-- Specific CSS goes HERE -->

    </head>

    <body>
        <div class="my-0 page" size="A4">
            <div class="p-5">
                <section class="top-content justify-content-between">
                    <div class="row">
                        <div class="col-6 text-dark">
                            <div class="font-weight-bold purchase-order">PURCHASE ORDER</div>
                            <div class="po-no">#PO-[po-number]</div>
                            <div class="card-title mt-2 font-weight-bold">Date : 2012-12-02 12:32:32</div>
                        </div>
                        <div class="col-3 p-0 text-right ">
                            <div class="com-detial-container mt-0 text-dark">
                                <div class="text">369, Thalangama south,</div>
                                <div class="text">batapotha battaramulla,</div>
                                <div class="text"><span class="pcoded-micon"><i class="feather icon-phone"></i></span> 011-2077112/ 071-1795055</div>
                                <div class="text"><span class="pcoded-micon"><i class="feather icon-mail"></i></span> thilinafashion@gmail.com</div>    
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col ">
                                    <div class="logo">
                                        <img src="/static/assets/images/icon-tf.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col">
                                    <div class="text-center mt-1" style="font-size:12px; font-weight:900;">THILINA FASHION</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> 
                <hr class="m-0">
                <section class="store-content mt-1">
                    <div class="col-12">
                        <div class="row bb pt-2">
                            <div class="col-6">
                                <div class="card-text pl-2 head-detail" style="font-weight:900;">SUPPLIER</div>
                                <div class="card-text pl-2 mt-2" style="font-weight:900;">[Conatct Person]</div>
                                <div class="card-text pl-2 mt-0" style="font-weight:900;">[Company Name]</div>
                                <div class="card-text pl-2 mt-0" style="font-weight:900;">[Address 1]</div>
                                <div class="card-text pl-2 mt-0" style="font-weight:900;">[Address 2]</div>
                                <div class="card-text pl-2 mt-0" style="font-weight:900;">[City]</div>
                                <div class="card-text pl-2 mt-0" style="font-weight:900;">[Phone]</div>
                                <div class="card-text pl-2 mt-0" style="font-weight:900;">[Fax]</div>
                            </div>
                            <div class="col-6">
                                <div class="card-text pl-2 head-detail" style="font-weight:900;">SHIP TO</div>
                                <div class="card-text pl-2 mt-2" style="font-weight:900;">[Conatct Person]</div>
                                <div class="card-text pl-2 mt-0" style="font-weight:900;">[Company Name]</div>
                                <div class="card-text pl-2 mt-0" style="font-weight:900;">[Address 1]</div>
                                <div class="card-text pl-2 mt-0" style="font-weight:900;">[Address 2]</div>
                                <div class="card-text pl-2 mt-0" style="font-weight:900;">[City]</div>
                                <div class="card-text pl-2 mt-0" style="font-weight:900;">[Phone]</div>
                                <div class="card-text pl-2 mt-0" style="font-weight:900;">[Fax]</div>
                            </div>
                        </div>
                    </div>
                </section> 
                <section class="product-area mt-5">
                    <table class="table table-bordered text-dark table-hover">
                        <thead class="head-detail border">
                            <tr>
                                <th style="width: 10%">Item#</th>
                                <th style="width: 45%">Description</th>
                                <th style="width: 15%">Quantity</th>
                                <th style="width: 15%">Unit Price</th>
                                <th style="width: 15%" class="text-right">Total</th>
                            </tr>
                        </thead>
                        <tbody class="table border">
                            <tr>
                                <td>Chair</td>
                                <td>100.00</td>
                                <td>10</td>
                                <td>1000.00</td>
                                <td class="text-right">1000.00</td>
                            </tr>
                            
                            <tr>
                                <td>Chair</td>
                                <td>100.00</td>
                                <td>10</td>
                                <td>1000.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>Chair</td>
                                <td>100.00</td>
                                <td>10</td>
                                <td>1000.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>Chair</td>
                                <td>100.00</td>
                                <td>10</td>
                                <td>1000.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>Chair</td>
                                <td>100.00</td>
                                <td>10</td>
                                <td>1000.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>Chair</td>
                                <td>100.00</td>
                                <td>10</td>
                                <td>1000.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>Chair</td>
                                <td>100.00</td>
                                <td>10</td>
                                <td>1000.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>Chair</td>
                                <td>100.00</td>
                                <td>10</td>
                                <td>1000.00</td>
                                <td>1000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </section> 

                <section class="balance-info mt-2">
                    <div class="row text-dark">
                        <div class="col-7 border">
                            <p class="m-0 font-weight-bold ">Note</p>
                            <p> lorem ipsem dolos sit amet consecteter adiposicingale
                            elit, in dlectus, adipisci vero est dolore praesentium</p>
                        </div>
                        <div class="col-5">
                            <table class="table table-bordered table-hover m-0 text-dark">
                                <tr>
                                    <td class="font-weight-bold" style="width: 60%">Sub Total :</td>
                                    <td >800$</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Tax :</td>
                                    <td>15$</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Deliver : </td>
                                    <td>110$</td>
                                </tr>
                                <tfoot>
                                    <tr>
                                        <td class="font-weight-bold">Total : </td>
                                        <td >200$</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </section> 
                
                <footer>
                    <p class="m-3 text-center">
                        view this invoice online At - <a href="#!"></a>
                    </p>
                </footer> 
                
            </div>
        </div>
    </body>
</html>
