{% load widget_tweaks %}

<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="modal-header">
    {% if object.status == 0 %}
      <h3 class="modal-title">Payment Done Confirmation</h3>
    {% elif object.status == 1 %}
      <h3 class="modal-title">Order Received Confirmation</h3>
    {% elif object.status == 2 %}
      <h3 class="modal-title">Purchase Order Closing Confirmation</h3>
    {% endif %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    
    {% if object.status == 0 %}
      <p>Did you make Payment for the Purchase Order with id <b class="text-danger">{{ object.id }} </b>?</p>
    {% elif object.status == 1 %}
      <p>Did you Received Order for the Purchase Order with id <b class="text-danger">{{ object.id }} </b>?</p>
    {% elif object.status == 2 %}
      <p>Do you want to close Purchase Order with id <b class="text-danger">{{ object.id }} </b>?</p>
    {% endif %}
  </div>

  <div class="modal-footer">
    <form method="post" action="">
      {% csrf_token %}
      {{ form.id.as_hidden }}
      {% if object.status == 0 %}
        <button type="submit" class="btn btn-primary">Confirm</button>
      {% elif object.status == 1 %}
        <button type="submit" class="btn btn-warning">Confirm</button>
      {% elif object.status == 2 %}
        <button type="submit" class="btn btn-Success">Confirm</button>
      {% endif %}
    </form>
  </div>

</form>